<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:fragment="common-header">
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />

<title>Bookstore</title>

<!-- Bootstrap core CSS -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="/css/style.css" rel="stylesheet" />
<link rel="icon" href="/image/apple-touch-icon.png" />
</head>

<body>
	<div th:fragment="navbar">
		<div class="page-top"
			style="width: 100%; height: 20px; background-color: #f46b42;"></div>

		<nav class="navbar navbar-expand-lg navbar-light bg-light rounded">
			<a class="navbar-brand" th:href="@{/}">Bookstore</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarsExample09" aria-controls="navbarsExample09"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExample09">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="http://example.com"
						id="dropdown09" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Books</a>
						<div class="dropdown-menu" aria-labelledby="dropdown09">
							<a class="dropdown-item" th:href="@{/bookshelf}">Browse the
								bookshelf</a> <a class="dropdown-item" href="#">Store hours
								&#38; Directions</a> <a class="dropdown-item" href="#">FAQ</a>
						</div></li>
					<li>
						<form class="form-inline">
							<input type="text" name="keyword" class="form-control mr-sm-2"
								placeholder="Book title" />
							<button type="submit" class="btn btn-default my-2 my-sm-0">Search</button>
						</form>
					</li>
				</ul>
				<ul class="navbar-nav navbar-right">
					<li class="nav-item"><a class="nav-link" th:href="@{/shoppingCart/cart}">SHOPPING
							CART</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAnonymous()" th:href="@{/login}">MY ACCOUNT</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/myProfile}">MY
							ACCOUNT</a></li>
					<li class="nav-item"><a class="nav-link"
						sec:authorize="isAuthenticated()" th:href="@{/logout}">LOGOUT</a></li>
				</ul>

			</div>
		</nav>
	</div>
	<div th:fragment="body-bottom-scripts">
		<!-- Bootstrap core JavaScript
    ================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
			integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"
			integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
			crossorigin="anonymous"></script>
		<script src=" https://use.fontawesome.com/6641a257d9.js"></script>
		<script src="/js/bootstrap.min.js"></script>
	</div>
</body>
</html>